/* Corrects the positioning of the side navigation */
#rhdh-sidebar-layout nav > .MuiBox-root > div.MuiBox-root {
  top: 64px;
}

/* Corrects the positioning of main container */
#rhdh-sidebar-layout > div.MuiBox-root {
  display: flex;
  flex-direction: column;
  height: unset;
  flex-grow: 1;
}

/* Fix for soundcheck page as main element is nested under div */
#rhdh-sidebar-layout > div.MuiBox-root > div.MuiBox-root > main {
  /* clip-path clips the scrollbar properly in Chrome compared to
  border-radius. 1rem is the hardcoded border-radius of the page content. */
  clip-path: rect(0 100% 100% 0 round 1rem);

  /* Emulate the PatternFly 6 page inset using a margin */
  margin: 0 1.5rem 1.5rem 0;
  /* Prevent overflow in the main container due to the margin */
  max-height: calc(100vh - 3.65 * 1.5rem);
}

/* This will patch width of content when docsbot panel is expanded */
body.assistant-open #rhdh-sidebar-layout main {
  width: calc(100% - var(--assistant-panel-width, 0) - 2rem);
}
body #rhdh-sidebar-layout main {
  transition: all 225ms ease-in-out;
}

body.assistant-open
  #rhdh-above-sidebar-header-container
  .MuiDrawer-paperAnchorDockedRight {
  top: 64px;
  height: calc(100svh - 64px - 1.5rem);
  box-sizing: border-box;
  border-radius: 1rem;
  overflow: hidden;
  margin-inline: 1rem;
}

#root .v5-MuiFab-root {
  z-index: 1250;
}

@keyframes Assistant-Icon-Pulse {
  0% {
    --scale: 1;
  }
  50% {
    scale: 1.1;
    border-radius: 35%;
  }
  100% {
    --scale: 1;
  }
}
