variables:
  GITLAB_DIR: '$CI_PROJECT_DIR/.gitlab'
  GITLAB_SCRIPTS_DIR: '$GITLAB_DIR/scripts'
  GITLAB_TEMPLATES_DIR: '$GITLAB_DIR/templates'
  TEMP_DIR: '$CI_PROJECT_DIR/tmp'

stages:
  - install
  - build
  - lint
  # - test
  - publish
  - image-build
  - deploy-dev
  - deploy-qa

.notifySlackAfter: &notifySlackAfter
  - sh ".gitlab/scripts/slack/notifySlackAfter.sh"

default:
  after_script:
    - mkdir -p ${TEMP_DIR}
    - *notifySlackAfter

yarn_install:
  stage: install
  image: registry.access.redhat.com/ubi10/nodejs-22:latest
  tags:
    - shared-podman
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == 'merge_request_event')
  script:
    # enable yarn 4
    - npm i -g corepack
    - corepack enable
    - corepack prepare yarn@4.6.0 --activate
    # install dependencies
    - yarn install --immutable
  cache:
    when: on_success
    key:
      files:
        - yarn.lock
    paths:
      - '**/node_modules/'
  artifacts:
    when: on_success
    paths:
      - '**/node_modules/'
    expire_in: 1 days

yarn_build:
  stage: build
  image: registry.access.redhat.com/ubi10/nodejs-22:latest
  tags:
    - shared-podman
  needs: ['yarn_install']
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == 'merge_request_event')
  before_script:
    - git config --global --add safe.directory /builds/app-dev-platform/backstage-plugins
    - npm i -g corepack
    - corepack enable
    - corepack prepare yarn@4.6.0 --activate
  script:
    - NODE_OPTIONS="--max-old-space-size=4096" yarn tsc
    - yarn build:all
  cache:
    when: on_success
    key:
      files:
        - yarn.lock
    paths:
      - '**/node_modules/'
      - 'plugins/**/dist/'
  artifacts:
    when: on_success
    paths:
      - '**/node_modules/'
      - 'plugins/**/dist/'
    expire_in: 1 days

yarn_lint:
  stage: lint
  image: registry.access.redhat.com/ubi10/nodejs-22:latest
  tags:
    - shared-podman
  needs: ['yarn_install']
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == 'merge_request_event')
  before_script:
    - git config --global --add safe.directory /builds/app-dev-platform/backstage-plugins
    - npm i -g corepack
    - corepack enable
    - corepack prepare yarn@4.6.0 --activate
  script:
    - yarn lint:all

publish_plugins:
  stage: publish
  image: registry.access.redhat.com/ubi10/nodejs-22:latest
  tags:
    - shared-podman
  needs:
    - job: yarn_build
      artifacts: true
    - job: yarn_lint
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - git config --global http.sslVerify "false"
    - git config --global --add safe.directory /builds/app-dev-platform/backstage-plugins
    - git config --global user.name "compass-release-automation"
    - git config --global user.email "xe-compass-devs@redhat.com"
    - git remote set-url origin https://release-bot:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}
    - git checkout $CI_DEFAULT_BRANCH
    - npm i -g corepack
    - corepack enable
    - corepack prepare yarn@4.6.0 --activate
  script:
    - node ./scripts/publish-with-yarn.js || exit 1
    - git push origin $CI_DEFAULT_BRANCH --follow-tags

.mpp_build:
  stage: image-build
  image: registry.redhat.io/openshift4/ose-cli:v4.8
  tags:
    - one-platform-pipeline-runner
  needs:
    - job: yarn_build
      artifacts: false
    - job: yarn_lint
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - mkdir ~/.kube
    - cp /alm/kubeconfig ~/.kube/config
    - unset KUBECONFIG
  script:
    - oc config use-context one-platform-pipeline-preprod
    - oc project "$namespace"
    - oc process -f openshift/buildconfig.yaml -p "TAG=$TAG" --ignore-unknown-parameters=true | oc apply -f -
    - oc start-build bc/backstage-plugins --follow --wait

.mpp_deploy:
  stage: deploy-dev
  image: registry.redhat.io/openshift4/ose-cli:v4.8
  tags:
    - one-platform-pipeline-runner
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - mkdir ~/.kube
    - cp /alm/kubeconfig ~/.kube/config
    - unset KUBECONFIG
  script:
    - oc config use-context one-platform-pipeline-preprod
    - oc project "$namespace"
    - oc process -f openshift/ocp-vault-auth-template.yaml | oc apply -f -
    - oc process -f openshift/template.yaml -p "NAME=backstage-plugins-$ENV" -p "IMAGE=$IMAGES_PAAS_REPO:$CI_COMMIT_SHORT_SHA" -p "ROUTER_HOSTNAME=$ROUTER_HOSTNAME" --ignore-unknown-parameters=true | oc apply -f -
    - oc rollout restart deploy/backstage-plugins-$ENV

# test:
#   image: mcr.microsoft.com/playwright:latest
#   tags:
#     - one-platform-pipeline-runner
#   stage: test
#   only:
#     - schedules
#   variables:
#     TEST_URL: BASE_URL
#     MATOMO_TEST_URL: $MATOMO_TEST_URL
#     BRANCH_NAME: $CI_COMMIT_BRANCH
#     BUILD_NUMBER: $CI_PIPELINE_ID
#     SLACK_CHANNEL_LINK: $SLACK_CHANNEL_LINK
#     REPORT_PORTAL_KEY: $REPORT_PORTAL_KEY
#     REPORT_PORTAL_PROJECTNAME: $REPORT_PORTAL_PROJECTNAME
#     REPORT_PORTAL_URL: $REPORT_PORTAL_URL
#   before_script:
#     - apt-get update
#     - apt-get install build-essential -y
#     - apt-get install libnss3-tools
#     - apt-get install openjdk-8-jre-headless -y
#     - mkdir -p $HOME/.pki/nssdb
#     - cp ReportPortal.pem /usr/local/share/ca-certificates/
#     - certutil -d $HOME/.pki/nssdb -N --empty-password
#     - curl -k https://certs.corp.redhat.com/certs/2015-IT-Root-CA.pem --create-dirs -o  /usr/local/share/ca-certificates/2015-IT-Root-CA.pem
#     - curl -k https://certs.corp.redhat.com/certs/2022-IT-Root-CA.pem --create-dirs -o  /usr/local/share/ca-certificates/2022-IT-Root-CA.pem
#     - certutil -d sql:$HOME/.pki/nssdb -A -t "C,," -n root.implodingduck.local -i '/usr/local/share/ca-certificates/2015-IT-Root-CA.pem';
#     - certutil -d sql:$HOME/.pki/nssdb -A -t "C,," -n ITCertificate -i '/usr/local/share/ca-certificates/2022-IT-Root-CA.pem';
#     - certutil -d sql:$HOME/.pki/nssdb -A -t "C,," -n ReportPortalCertificate -i '/usr/local/share/ca-certificates/ReportPortal.pem';
#     - openssl x509 -in ReportPortal.pem -inform pem -out ReportPortal.der -outform der
#     - keytool -importcert -alias startssl -keystore /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/security/cacerts -storepass changeit -file ReportPortal.der -noprompt

#   script:
#     - yarn install
#     - yarn playwright install
#     - npx playwright install msedge
#     - source playwright/set-env.sh
#     - yarn playwright test --workers 6
#   artifacts:
#     paths:
#       - ./playwright-report/
#     when: always

image-build:
  variables:
    TAG: $CI_COMMIT_SHORT_SHA
    namespace: one-platform--pipeline
  extends: .mpp_build
  stage: image-build

deploy-dev:
  variables:
    namespace: one-platform--backstage-plugins-dev
    ENV: dev
    IMAGES_PAAS_REPO: $IMAGES_PAAS_REPO
    ROUTER_HOSTNAME: $ROUTER_HOSTNAME_DEV
  extends: .mpp_deploy
  stage: deploy-dev
  needs: ['image-build']
  environment:
    name: plugin-dev
    url: $DEV_ENV_URL
    deployment_tier: development

deploy-qa:
  variables:
    namespace: one-platform--backstage-plugins-dev
    ENV: qa
    IMAGES_PAAS_REPO: $IMAGES_PAAS_REPO
    ROUTER_HOSTNAME: $ROUTER_HOSTNAME_QA
  extends: .mpp_deploy
  stage: deploy-qa
  needs: ['deploy-dev']
  when: manual
  environment:
    name: plugin-qa
    url: $QA_ENV_URL
    deployment_tier: testing
