stages:
  - Yarn-Build
  # - Test
  - Publish-Plugins
  - Mpp-Build
  - Mpp-Deploy

yarn_build:
  stage: Yarn-Build
  image: images.paas.redhat.com/dat/nodeci-base-image:1.0.0
  tags: 
    - one-platform-pipeline-runner
  needs: []
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == 'merge_request_event')
  before_script:
    - yarn install
    - git config --global --add safe.directory /builds/app-dev-platform/backstage-plugins
  script:
    - yarn tsc
    - yarn build:all
  cache:
    when: on_success
    key:
      files:
        - yarn.lock
    paths:
      - "**/node_modules/"
      - "plugins/**/dist/"
  artifacts:
    when: on_success
    paths:
      - "**/node_modules/"
      - "plugins/**/dist/"
    expire_in: 1 days

publish_plugins:
  stage: Publish-Plugins
  image: images.paas.redhat.com/dat/nodeci-base-image:1.0.0
  tags:
    - one-platform-pipeline-runner
  needs: ["yarn_build"]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - yarn install
    - git config --global http.sslVerify "false"
    - git config --global --add safe.directory /builds/app-dev-platform/backstage-plugins
  script: 
    - yarn release --ignore-private-packages

.mpp_build:
  stage: Mpp-Build
  image: registry.redhat.io/openshift4/ose-cli:v4.8
  tags:
    - one-platform-pipeline-runner
  needs: ["yarn-build"]
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - mkdir ~/.kube
    - cp /alm/kubeconfig ~/.kube/config
    - unset KUBECONFIG
  script:
    - oc config use-context one-platform-pipeline-preprod
    - oc project "$namespace"
    - oc process -f openshift/encrypted-secrets.yaml --ignore-unknown-parameters=true | oc apply -f -
    - oc process -f openshift/buildconfig.yaml -p "TAG=$TAG" --ignore-unknown-parameters=true | oc apply -f -
    - oc start-build bc/backstage-plugins --follow --wait
    - oc process -f openshift/template.yaml --ignore-unknown-parameters=true | oc apply -f -    

.mpp_deploy:
  stage: Mpp-Deploy
  image: registry.redhat.io/openshift4/ose-cli:v4.8
  tags:
    - one-platform-pipeline-runner
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - mkdir ~/.kube
    - cp /alm/kubeconfig ~/.kube/config
    - unset KUBECONFIG
  script:  
    - oc config use-context one-platform-pipeline-preprod
    - oc project "$namespace"
    - oc scale deployment backstage-plugins --replicas=0
    - oc scale deployment backstage-plugins --replicas=1

# test:
#   image: mcr.microsoft.com/playwright:latest
#   tags:
#     - one-platform-pipeline-runner
#   stage: test
#   only:
#     - schedules
#   variables:
#     TEST_URL: BASE_URL
#     MATOMO_TEST_URL: $MATOMO_TEST_URL
#     BRANCH_NAME: $CI_COMMIT_BRANCH
#     BUILD_NUMBER: $CI_PIPELINE_ID
#     SLACK_CHANNEL_LINK: $SLACK_CHANNEL_LINK
#     REPORT_PORTAL_KEY: $REPORT_PORTAL_KEY
#     REPORT_PORTAL_PROJECTNAME: $REPORT_PORTAL_PROJECTNAME
#     REPORT_PORTAL_URL: $REPORT_PORTAL_URL
#   before_script:
#     - apt-get update
#     - apt-get install build-essential -y
#     - apt-get install libnss3-tools
#     - apt-get install openjdk-8-jre-headless -y
#     - mkdir -p $HOME/.pki/nssdb
#     - cp ReportPortal.pem /usr/local/share/ca-certificates/
#     - certutil -d $HOME/.pki/nssdb -N --empty-password
#     - curl -k https://certs.corp.redhat.com/certs/2015-IT-Root-CA.pem --create-dirs -o  /usr/local/share/ca-certificates/2015-IT-Root-CA.pem
#     - curl -k https://certs.corp.redhat.com/certs/2022-IT-Root-CA.pem --create-dirs -o  /usr/local/share/ca-certificates/2022-IT-Root-CA.pem
#     - certutil -d sql:$HOME/.pki/nssdb -A -t "C,," -n root.implodingduck.local -i '/usr/local/share/ca-certificates/2015-IT-Root-CA.pem';
#     - certutil -d sql:$HOME/.pki/nssdb -A -t "C,," -n ITCertificate -i '/usr/local/share/ca-certificates/2022-IT-Root-CA.pem';
#     - certutil -d sql:$HOME/.pki/nssdb -A -t "C,," -n ReportPortalCertificate -i '/usr/local/share/ca-certificates/ReportPortal.pem';
#     - openssl x509 -in ReportPortal.pem -inform pem -out ReportPortal.der -outform der
#     - keytool -importcert -alias startssl -keystore /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/security/cacerts -storepass changeit -file ReportPortal.der -noprompt

#   script:
#     - yarn install
#     - yarn playwright install
#     - npx playwright install msedge
#     - source playwright/set-env.sh
#     - yarn playwright test --workers 6
#   artifacts:
#     paths:  
#       - ./playwright-report/
#     when: always

Build-Image:
  variables:
    TAG: $IMAGE_VERSION
    namespace: one-platform--pipeline
  extends: .mpp_build
  stage: Mpp-Build
  needs: ["yarn_build"]

MPP-Deploy:
  variables:
    namespace: one-platform--backstage-plugins-dev
  extends: .mpp_deploy
  stage: Mpp-Deploy
  needs: ["Build-Image"]
