strict-ssl=false
@appdev-platform:registry=https://nexus.corp.redhat.com/repository/appdev-platform/
//nexus.corp.redhat.com/repository/appdev-platform/:_authToken=${NPM_TOKEN}
@compass:registry=https://nexus.corp.redhat.com/repository/compass/
@appdev:registry=https://nexus.corp.redhat.com/repository/compass/
//nexus.corp.redhat.com/repository/compass/:_auth=${COMPASS_NEXUS_TOKEN}
