app:
  # Should be the same as backend.baseUrl when using the `app-backend` plugin.
  baseUrl: http://localhost:7007

backend:
  # Note that the baseUrl should be the URL that the browser and other clients
  # should use when communicating with the backend, i.e. it needs to be
  # reachable not just from within the backend host, but from all of your
  # callers. When its value is "http://localhost:7007", it's strictly private
  # and can't be reached by others.
  baseUrl: http://localhost:7007
  # The listener can also be expressed as a single <host>:<port> string. In this case we bind to
  # all interfaces, the most permissive setting. The right value depends on your specific deployment.
  listen:
    port: 7007

  auth:
    externalAccess:
      - type: static
        options:
          token: ${WORKSTREAM_FETCH_TOKEN}
          subject: workstream-catalog-token
        accessRestrictions:
          - plugin: workstream
    keys:
      - secret: ${BACKEND_SECRET}

  # config options: https://node-postgres.com/api/client
  # database:
  # client: pg
  # connection:
  #   host: ${POSTGRES_HOST}
  #   port: ${POSTGRES_PORT}
  #   user: ${POSTGRES_USER}
  #   password: ${POSTGRES_PASSWORD}
  # https://node-postgres.com/features/ssl
  # you can set the sslmode configuration option via the `PGSSLMODE` environment variable
  # see https://www.postgresql.org/docs/current/libpq-ssl.html Table 33.1. SSL Mode Descriptions (e.g. require)
  # ssl:
  #   ca: # if you have a CA file and want to verify it you can uncomment this section
  #     $file: <file-path>/ca/server.crt
workstream:
  enabled: ${WORKSTREAM_PLUGIN_ENABLED}

integrations:
  servicenow:
    - host: ${SERVICE_NOW_HOST}
      apiBaseUrl: ${SERVICE_NOW_BASE_API_URL}
      credentials:
        username: ${SERVICE_NOW_USERNAME}
        password: ${SERVICE_NOW_PASSWORD}

  spaship:
    - host: ${SPASHIP_HOST}
      apiBaseUrl: ${SPASHIP_API_URL}
      apiKey: ${SPASHIP_API_TOKEN}

catalog:
  # Overrides the default list locations from app-config.yaml as these contain example data.
  # See https://backstage.io/docs/features/software-catalog/software-catalog-overview#adding-components-to-the-catalog for more details
  # on how to get entities into the catalog.
  readonly: false
  rules:
    - allow: [Location, Workstream]
  enrichment:
    enabled: true
  providers:
    cmdb:
      appdevPlatform:
        host: ${SERVICE_NOW_HOST}
        querySize: 1
        sysparmQuery: 'u_application_id=ONEP-003'
        schedule:
          frequency:
            hours: 3
          timeout:
            minutes: 5
        overrides:
          metadata:
            namespace: redhat
        customMappings:
          'metadata.name': '{{ u_application_id }}'
          # CMDB Mappings
          'metadata.cmdb.appcode': '{{ u_application_id }}'
          'metadata.cmdb.delegate': '{{ u_delegate.user_name }}'
          'metadata.cmdb.delegateActive': '{{ u_delegate.active }}'
          'metadata.cmdb.actualItRpo': '{{ u_actual_it_rpo }}'
          'metadata.cmdb.actualRto': '{{ u_actual_rto }}'
          'metadata.cmdb.applicationRetirementDate': '{{ u_application_retirement_date }}'
          'metadata.cmdb.businessMtd': '{{ u_business_mtd }}'
          'metadata.cmdb.investmentObjective': '{{ u_investment_objective }}'
          'metadata.cmdb.onCallNotificationProcess': '{{ u_oncall_notification_process }}'
          'metadata.cmdb.supportContactEmail': '{{ u_support_contact_email }}'
          'metadata.cmdb.rwi': '{{ u_rwi }}'
          'metadata.cmdb.urls.ess': '{{ u_ess_url }}'
          'metadata.cmdb.urls.pia': '{{ u_pia_url }}'
          'metadata.cmdb.urls.piaRemediations': '{{ u_pia_remediations_url }}'
          'metadata.cmdb.urls.risk': '{{ u_risk_url }}'
          'metadata.cmdb.urls.sia': '{{ u_sia_url }}'
        additionalQueryFields:
          - u_application_id
          - owned_by.active
          - u_delegate.user_name
          - u_delegate.active
          - u_actual_it_rpo
          - u_actual_rto
          - u_application_retirement_date
          - u_business_mtd
          - u_investment_objective
          - u_oncall_notification_process
          - u_support_contact_email
          - u_rwi
          - u_ess_url
          - u_pia_url
          - u_pia_remediations_url
          - u_risk_url
          - u_sia_url

    spaship:
      example:
        host: ${SPASHIP_HOST}
        defaultOwnerNamespace: 'redhat'
        properties:
          - customer-portal
          - one-platform
        overrides:
          metadata:
            namespace: 'dx'
        schedule:
          frequency:
            hours: 3
          timeout:
            minutes: 5

  locations:
    # Local example data, file locations are relative to the backend process, typically `packages/backend`
    - type: file
      target: ./examples/entities.yaml

    # Test data for lighthouse
    - type: file
      target: ./examples/test-data/lighthouse-plugin.yaml

    # Test data for Matomo plugin
    - type: file
      target: ./examples/test-data/matomo-plugin.yaml
    # Test data for SPAship plugin
    - type: file
      target: ./examples/test-data/spaship-plugin.yaml
    # Test data for CMDB plugin
    - type: file
      target: ./examples/test-data/cmdb-plugin.yaml
      rules:
        - allow: [Component, User]
    - type: file
      target: ./examples/test-data/jira-server-plugin.yaml
    - type: file
      target: ./examples/test-data/contact-details-plugin.yaml
      rules:
        - allow: [Component, Group, User]
    - type: file
      target: ./examples/test-data/feedback-plugin.yaml
    # Test data for report portal
    - type: file
      target: ./examples/test-data/report-portal-plugin.yaml
      rules:
        - allow:
            - Component
            - User
    - type: file
      target: ./examples/test-data/enrichment-data.yaml
      rules:
        - allow:
            - Component
            - EnrichmentData
    # Local example template
    - type: file
      target: ./examples/template/template.yaml
      rules:
        - allow: [Template]

    # Local example organizational data
    - type: file
      target: ./examples/org.yaml
      rules:
        - allow: [User, Group]

    # Local example workstream users data
    - type: file
      target: ../../examples/test-data/workstream-plugin.yaml
      rules:
        - allow: [User, Group]

# Report portal plugin
reportPortal:
  supportEmail: ${REPORT_PORTAL_SUPPORT_EMAIL}
  integrations:
    - host: ${REPORT_PORTAL_HOST}
      baseUrl: ${REPORT_PORTAL_BASE_URL}
      token: ${REPORT_PORTAL_TOKEN}
      filterType: "INTERNAL"

auth:
  # see https://backstage.io/docs/auth/ to learn about auth providers
  environment: development
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true

docsbot:
  slackUrl: ${DOCSBOT_SLACK_URL}
  contactMail: ${DOCSBOT_MAIL}

permission:
  enabled: true
