services:
  backstage:
    image: images.paas.redhat.com/app-dev-platform/backstage-plugins:latest
    platform: linux/amd64
    env_file: ./.env
    ports:
      - 7007:7007

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_PASSWORD=postgrespw
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - 55000:5432

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: guest@example.com
      PGADMIN_DEFAULT_PASSWORD: pgadminpw
      PGADMIN_LISTEN_ADDRESS: "0.0.0.0"
      PGADMIN_LISTEN_PORT: 55001
    ports:
      - 55001:55001
    depends_on:
      - postgres

volumes:
  pg_data:
