[Default Maintainers]
*                                             @mdeshmuk @yoswal @roommen

[Compass Plugins]                             @mdeshmuk @yoswal
plugins/mcp-actions-example-backend/          @souchowd
plugins/soundcheck-backend-module-*/          @deeprasa

[AppDev Workstream]                           @souchowd @nmore
plugins/audit-compliance/                     @nmore
plugins/audit-compliance-backend/             @nmore
plugins/devex-dashboard/                      @goudas
plugins/devex-data-layer-backend/             @goudas
plugins/docsbot/                              
plugins/hydra-support-dashboard/              @goudas
plugins/outage-template/                      @souchowd
plugins/outage-template-backend/              @souchowd
plugins/permission-management/                @souchowd
plugins/permission-management-backend/        @souchowd
plugins/spaship/                              @souchowd
plugins/compliance/                           @souchowd
